* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header {
  padding: 80px;
  text-align:left;
  text-align: center;
  background-image:url('wallpaper3.jpg');
  margin-left:200px;
  margin-right:350px;
  color: white;
}
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
   margin-left:200px;
  margin-right:350px;
  background-color: #FFFF33;
}
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  }
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: blue;
  color: black;
}
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.middle{
margin-left;200px;
margin-right:350px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}


.footer {
  padding: 20px;
  text-align: center;
  background: radial-gradient(#3399CC,#282828);
}
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y:hidden;
  padding-top: 20px;
}
li{
color:white;}
li:hover{
text-decoration:underline;
}


.sidenav1 {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
 background:#031321;
  overflow-x: hidden;
  padding-top: 20px;
}


/* Style the sidenav links and the dropdown button */
.sidenav1 a, .sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .sidenav1 a:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px;
  margin-right:350px;
  /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 15px;
  cursor: pointer;
  background:#031321;
  color:#2196f3;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
 color:#255784;
background:yellow;
box-shadow:0 0 10px #2196f3, 0 0 40px  #2196f3, 0 0 80px  #2196f3;
transition-delay:0.5s;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.1{
margin-left:200px;
margin-right:200px;
}
.column1 {
  float: left;
  width:25%;
  padding: 10px;
  height: 250px; 
  color:white;
}
.column3 {
  float: left;
  width:50%;
  padding: 10px;
  height: 250px; 
}
.row{
  margin-left:200px;
  margin-right:350px;
  }

.row:after {
  content: "";
 
  display: table;
  clear: both;
}
ul{
text-align:left;
}

 a{
 cursor:pointer;}
 
 
/* slideshow content*/
 * {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-left:200px;
  margin-right:350px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
.row{
  margin-left:200px;
  margin-right:350px;
  }
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*slideshow content ends*/
/*curtain menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*curtain menu ends*/
.main a:hover
{
text-decoration:underline;
color:blue;
}
/*icons menu*/
.overlay-content ul{
display:flex;
}
.overlay-content ul li{
position:relative;
diplay:block;
color:#666;
font-size:30px;
height:60px;
width:60px;
background:#171515;
line-height:60px;
border-radius:50%;
margin:0 15px;
cursor:pointer;
transition:.5s;
}
.overlay-content ul li:before{
position:absolute;
content:'';
top:0;
left:0;
background:#d35400;
height:100%;
width:100%;
border-radius:50%;
z-index:-1;
transform:scale(0.9);
transition:.5s;
}
.overlay-content ul li:nth-child(1):before{
background:blue;
}
 .overlay-contentul li:nth-child(2):before{
background:red;
}
.overlay-content ul li:nth-child(3):before{
background:yellow;
}
.overlay-content ul li:nth-child(1):hover:before{
transform:scale(1.2);
box-shadow:0 0 15px blue;
filter:blur(3px);
}
.overlay-content ul li:nth-child(2):hover:before{
transform:scale(1.2);
box-shadow:0 0 15px red;
filter:blur(3px);
}
.overlay-content ul li:nth-child(3):hover:before{
transform:scale(1.2);
box-shadow:0 0 15px yellow;
filter:blur(3px);
}
/*icons menu ends*/